<head>
    {% include google-analytics.html %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="theme-color" content="#222222">
    <title>Menubar Apps | Developer Productivity Tools</title>
    <meta name="description" content="Collection of essential macOS menubar applications designed specifically for developers."/>
    <meta http-equiv="content-language" content="en-us">
    <meta rel="canonical" href="https://menubar-apps.github.io/">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="macOS menubar apps, developer tools, coding productivity, programming utilities, software development, mac developer tools">
    
    <link rel="manifest" href="{{ '/manifest.webmanifest' | relative_url }}">
    
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/img/favicon-96x96.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon-16x16.png' | relative_url }}">
    
    <!-- CSS  -->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link href="{{ '/assets/fonts/font-awesome/css/font-awesome.min.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/materialize.min.css' | relative_url }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ '/assets/css/style.css' | relative_url }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ '/assets/css/syntax1.css' | relative_url }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ '/assets/css/appstorebadges.min.css' | relative_url }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ '/assets/css/default.css' | relative_url }}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
          <link rel="preconnect" href="https://fonts.googleapis.com"> 

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ '/assets/js/materialize.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/particles.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/init.js' | relative_url }}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>
