<ul>
  <li><a class="social-link" href="https://github.com/streetturtle"><img alt="GitHub followers" src="https://img.shields.io/github/followers/streetturtle"></a></li>
  <li><a class="social-link" href="https://www.buymeacoffee.com/streetturtle"><img src="https://img.shields.io/badge/-buy%20me%20a%20coffee-3B4252?style=flat&logo=Buy-Me-A-Coffee"></a></li>
  <li><a class="social-link" href="https://github.com/sponsors/streetturtle"><img src="https://img.shields.io/static/v1?label=Sponsor&message=%E2%9D%A4&logo=GitHub"></a></li>
  <li><a class="social-link" href="https://x.com/CjAoSnEsY"><img alt="X (formerly Twitter) Follow" src="https://img.shields.io/twitter/follow/CjAoSnEsY?style=flat&logo=x&label=streetturtle&labelColor=%23000&color=%23000"></a></li>
     <li><a class="social-link" href="https://bsky.app/profile/streetturtle.bsky.social"><img src="https://img.shields.io/badge/Bluesky-0285FF?logo=bluesky&logoColor=fff&label=streetturtle"></a></li>
</ul>
